body {
    background-color: aliceblue;
}
table {
    width: 75%;
    box-sizing: border-box;
    margin: 0 auto;
    
}
table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    font-size: 25px;
    text-align: center;
}
tr {
    height: 50px;
}
th {
    background-color: antiquewhite;
}
.five {
    background-color: green;
}
.four {
    background-color: yellow;
}
.three {
    background-color: orange;
}
.two {
    background-color: red;
}